<div class="mt-4">
    <div class="row">
        {{#each course}}
        <div class="col-lg-3 col-sm-4 mt-4">
            <div class="card car" style="width: 18rem;">
                <a href="/course/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text" style="text-align:justify">{{this.description}}</p>
                    <a href="/course/{{this.slug}}" class="btn btn-primary">Truy cập bài viết</a>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-sm-2"></div>
        {{/each}}
    </div>
</div>